﻿@model PBCustomerPortal.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div class="card-header">
            <a href="">Change Password</a>
        </div>
        <div class="container container-main">
            <div class="row justify-content-between">
                <div class="col-md-12 pb-5">
                    <div class="container innerpages">
                        <fieldset>
                            <h2 class="header--md spacer-top-sm text-center-xs"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Change Password</h2>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </fieldset>
                        <div>
                            <div class="btn-group pull-right">
                                @Html.ActionLink("Back", "Index", "Dashboard", null, new { @class = "btn btn-purple" })
                                <input type="submit" value="Change Password" class="btn btn-green" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
