﻿@model PBCustomerPortal.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login</title>
        <!--<base href="/">-->
        <base href=".">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="The Pitney Bowes Design System">
        <meta name="author" content="Pitney Bowes">
        <meta name="theme-color" content="#3e53a4">
        <link rel="stylesheet" href="~/Content/login.css">
        <link href="~/Content/styles.8db41f0a.css" rel="stylesheet" />
    </head>


    <body class="default">
        <div class="site-root">
            <div class="site-content"></div>
            <div class="signin">
                <div class="signin-wrapper mt-3 mb-4" role="main">
                    <a aria-label="Pitney Bowes" class="signin-logo d-block mt-2 mb-4" href="http://www.pb.com"></a>
                    <div class="signin-box">
                        <h1 class="signin-title m-0">Sign in to your account</h1>
                        <h5 class="signin-subtitle mt-1"></h5>

                        <div class="form-group">
                            @*<label for="email" translate="">Email</label>*@
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.UserName)
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                            <!---->
                        </div>
                        <div class="form-group">
                            @*<label for="password" translate="">Password</label>*@
                            @Html.LabelFor(model => model.Password)
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            @*<input class="form-control ng-untouched ng-pristine ng-invalid is-empty" formcontrolname="password" id="password" required="" type="password">*@
                            <!---->
                        </div>
                        <!---->
                        <div class="custom-control custom-checkbox mt-2">
                            @Html.EditorFor(model => model.RememberMe)
                            @*<label class="custom-control-label" for="remember-me"><span translate="">Remember me</span></label>*@
                            @Html.LabelFor(model => model.RememberMe, new { htmlAttributes = new { @class = "custom-control-label" } })
                            @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                            @*<input class="custom-control-input" id="remember-me" type="checkbox">*@

                        </div>
                        <input type="submit" value="Sign In" class="btn btn-primary btn-block btn-lg mt-2 mb-4" />
                        @*<button class="btn btn-primary btn-block btn-lg mt-2 mb-4" translate="" type="submit">Sign In</button>*@

                        <p class="text-center"><a href="" translate="">Forgot your password?</a></p>
                        <p class="text-center mb-0" translate="">Not a registered user? <a href="" translate="">Sign up now</a></p>
                    </div>
                </div>
            </div>
            <div class="site-footer">
                <footer class="py-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xs-12 col-md-8 col-lg-6">
                                <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-start align-items-sm-center">
                                    <a aria-label="Pitney Bowes" class="footer-logo d-block d-sm-inline-block text-center text-sm-left mr-sm-2" href="http://www.pb.com"></a><span class="d-block d-sm-inline-block text-center text-sm-left pt-1 pb-3 p-sm-0">©2019 Pitney Bowes Inc. <!----><span>All rights reserved.</span></span>
                                </div>
                            </div>
                            <!---->
                            <!---->
                            <div class="col-xs-12 col-md-4 col-lg-6">
                                <div class="d-flex justify-content-center justify-content-sm-end align-items-sm-center"><a class="d-block" href="">Legal</a><a class="d-block mx-3" href="">Privacy</a><a class="d-block" href="">Terms of use</a></div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

    </body>
</html>

}


