﻿@model PBCustomerPortal.Models.Account.UserProfileModel

@{
    ViewBag.Title = "UserProfile";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div class="card-header">
            <a href="">Update User Profile</a>
        </div>
        <div>
            <div class="container container-main">
                <div class="row justify-content-between">
                    <div class="col-md-12 pb-5">
                        <div class="container innerpages">
                            <fieldset>
                                <h2 class="header--md spacer-top-sm text-center-xs"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Update User Profile</h2>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </fieldset>
                            <div>
                                <div class="btn-group pull-right">
                                    @Html.ActionLink("Back", "Index", "Dashboard", null, new { @class = "btn btn-purple" })
                                    <input type="Submit" value="Update Profile" class="btn btn-green" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success"></div>
    @ViewBag.Message
}
