﻿@{string controller = (string)ViewContext.RouteData.Values["action"]; }

@if (!controller.ToLower().Contains("login"))
{

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title -Pitney Bowes Customer Portal</title>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <link rel="stylesheet" href="~/Content/login.css">

        <script type="text/javascript">
        var require = {
            urlArgs: "version=V19.00d.AM"
        };

        if (!window.name)
            window.name = "DASHBOARD";
        </script>
        <script src="script/main.js"></script>

    </head>
    <body class="default">
        <div class="site-root">
            <header appheadershadow="" class="bg-brand-header fixed-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar  navbar-expand-lg navbar-light">
                                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler p-0 mt-2" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" routerlink="/home" href="/home"> pitney bowes </a>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item"></li>
                                        <li class="nav-item"></li>
                                        <li class="nav-item dropdown">
                                        </li>
                                        <li class="nav-item dropdown">
                                        </li>
                                    </ul>
                                    
                                    @Html.ActionLink("User Profile", "UserProfile", "Account", null, new { @class = "navbar-light navbar-nav nav-link nav-linkTop" }) <span>&nbsp;|&nbsp;</span>
                                    @if (User.IsInRole("Administrator") || User.IsInRole("SuperUser"))
                                    {
                                        @Html.ActionLink("Register New User", "Register", "Account", null, new { @class = "nav-link nav-linkTop" }) <span>&nbsp;|&nbsp;</span>
                                    }
                                    @Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "nav-link nav-linkTop" }) <span>&nbsp;|&nbsp;</span>
                                    @Html.ActionLink("Sign Out", "SignOut", "Account", null, new { @class = "nav-link nav-linkTop" })
                                    @*<h4><b>@WebSecurity.CurrentUserName</b></h4>*@
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <div class="site-content"></div>
            @RenderBody()
            <div class="site-footer">
                <footer class="py-3">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xs-12 col-md-8 col-lg-6">
                                <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-start align-items-sm-center">
                                    <a aria-label="Pitney Bowes" class="footer-logo d-block d-sm-inline-block text-center text-sm-left mr-sm-2" href="http://www.pb.com"></a><span class="d-block d-sm-inline-block text-center text-sm-left pt-1 pb-3 p-sm-0">©2019 Pitney Bowes Inc. <!----><span>All rights reserved.</span></span>
                                </div>
                            </div>
                            <!---->
                            <!---->
                            <div class="col-xs-12 col-md-4 col-lg-6">
                                <div class="d-flex justify-content-center justify-content-sm-end align-items-sm-center"><a class="d-block" href="">Legal</a><a class="d-block mx-3" href="">Privacy</a><a class="d-block" href="">Terms of use</a></div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <script src="~/scripts/jquery-3.3.1.js"></script>
            <script src="~/scripts/bootstrap.js"></script>
        </div>

    </body>
</html>
}

else
{
    @RenderBody()
}





