﻿
@{
    ViewBag.Title = "Index";
}

<div class="container container-main" style="margin-top:6em;">
    <div class="row justify-content-between">
        <div class="col-md-12 pb-5">
            <div class="container">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Confirm OnDemand</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><img class="img-thumbnail" src="~/Source/PBCustomerPortalC1.png" alt="Generic placeholder image"> </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <p>The smart, cost-effective way to manage your public infrastructure assets.</p>

                                </li>
                                <li>
                                    <p><a class="btn btn-lg btn-block btn-primary" href="http://codus-wi-elb-519700617.us-east-1.elb.amazonaws.com/Citrix/XenApp/site/default.aspx" target="_blank" role="button">Login to Confirm &raquo;</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Confirm Dashboards</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><img class="img-thumbnail" src="~/Source/PBCustomerPortalD.png" alt="Generic placeholder image"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <p>Each day, governments need to manage a diverse, ever-aging portfolio of assets with fewer resources and smaller budgets. Confirm® –  Intelligent Infrastructure Management solution – allows you to maximize the lifecycle of every asset.</p>
                                </li>
                                <li><p><a class="btn btn-lg btn-block btn-primary" href="http://codus-cweb-tst-lb-1162577948.us-east-1.elb.amazonaws.com/ConfirmWeb/Dashboard/index.html?Tenant=Innovation Platform" target="_blank" role="button">Confirm Dashboard &raquo;</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Confirm Training On Demand</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><img class="img-thumbnail" src="~/Source/PBCustomerPortalE1.jpg" alt="Generic placeholder image"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <p>Confirm Learning Management System – a suite of videos and documentation</p>
                                </li>
                                <li><p><a class="btn btn-lg btn-block btn-primary" href="http://training.ondemand.confirm.co.uk" target="_blank" role="button">Learning Management System &raquo;</a></p></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Data Visualisation</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><img class="img-thumbnail" src="~/Source/PBCustomerPortalD2.jpg" alt="Generic placeholder image"> </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <p>The smart, cost-effective way to manage your public infrastructure assets.</p>

                                </li>
                                <li>
                                    <p><a class="btn btn-lg btn-block btn-primary" href="https://nam02.safelinks.protection.outlook.com/?url=http%3A%2F%2Fmapserver12-1.spatialdemo.com%3A8010%2Fconnect%2Fanalyst%2Fmobile%2F%23%2Fmain%3Fmapcfg%3DInnovation%2520Platform&data=02%7C01%7CHannah.Unwin%40pb.com%7C3644b0b4d48d4f2abc6a08d6c1a260da%7C8a4925a9fd8e4866b31cf719fb05dce6%7C1%7C0%7C636909300484358742&sdata=e5IaEI%2BzxrJZdj4fK41SOJyeh27PHM8YZnF19FTISdI%3D&reserved=0" target="_blank" role="button">Data Visualisation &raquo;</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Confirm Home Page</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><img class="img-thumbnail" src="~/Source/PBCustomerPortalE2.jpg" alt="Generic placeholder image"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <p>Link to latest news, case studies etc.</p>
                                </li>
                                <li><p><a class="btn btn-lg btn-block btn-primary" href="https://www.pitneybowes.com/us/location-intelligence/infrastructure-asset-management/eam.html" Platform" target="_blank" role="button">Confirm Home Page &raquo;</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Knowledge Community </h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title"><img class="img-thumbnail" src="~/Source/PBCustomerPortalF.jpg" alt="Generic placeholder image"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>
                                    <p>Knowledge Community</p>
                                </li>
                                <li><p><a class="btn btn-lg btn-block btn-primary" href="https://community.pitneybowes.com/home" target="_blank" role="button">Link to Knowledge Community  &raquo;</a></p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>