body{font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;font-size: 13px;color: #000;}
header {margin: 25px 0;}
p { color: #414141;font-size: 13px;line-height: 18px;}
h5 {color: #414141;font-size: 15px;line-height: 19px;font-weight: bold;}
.no-padding{padding:0;}
.no-padding-left {padding-left: 0;}
.no-padding-right {padding-right: 0;}
.register-now {border: 1px solid #ccc;box-sizing: border-box;padding: 25px 25px 35px;vertical-align: top;}
.register-now h2 {color: #000;font-family: Arial;font-size: 18px;font-weight: bold;margin: 0;padding: 0;}
ul.not-reg-ul {color: #000;list-style: outside none none;padding: 0;}
ul.not-reg-ul li::before {content: url("https://sb.monetate.net/img/1/306/485411.png");margin-right: 10px;}
.register-now a.reg-now {background: #cc0000 none repeat scroll 0 0;box-sizing: border-box;color: #fff;display: block;font-size: 16px;font-weight: bold;height: 44px;margin-top: 25px;
padding-top: 13px;text-align: center;text-decoration: none;width: 156px;}
.sign-in-now {margin-left: 60px;padding: 3px 0;position: relative;font-size: 12px;margin-top:15px;margin-bottom: 10px;}
.sign-in-now h2 {color: #000;font-family: Arial;font-size: 18px;font-weight: bold;margin: 0;padding: 0;}
.form-group {margin-top:15px;}
input[type="text"], input[type="password"] {border-radius: 0;bordborder-radius: 0;er:2px solid #ccc;color: #595852;font-weight: normal;padding: 2px 6px;
width:100%; height: 44px;color: #ccc;text-indent: 15px;font-size:14px;}
button_bar button {background: #1e1e1e none repeat scroll 0 0;border: 0 none;color: #fff;font-size: 16px;height: 44px;margin-top: 15px;width: 96px;
}
input[type="text"]:focus, input[type="password"]:focus {color: #000;}
.red-text {color: #cc0000;}
.sign-in-now a {color: #cc0000;margin-top: 5px;text-decoration: none;}
.button_bar button {background: #1e1e1e none repeat scroll 0 0;border: 0 none;color: #fff;font-size: 16px;height: 44px;
margin-top: 15px;width: 96px;border-radius: 0;}
#iphone_5_emulator {height:600px;width:315px;margin:0px auto;}
#frame_iphone_5_emulator {
    height: 439px;
    margin: 81px 0 0;
    width: 276px;
}
.frame_scroller {display: inline-block;overflow: hidden;}
.frame_scroller > iframe {height: 100%;width: 100%;}
.three-box {margin: 50px 0;}
.three-box h2 {color: #000;font-family: Arial;font-size: 16px;font-weight: bold;margin: 0;padding: 0;}
.three-box p {display: table;font-size: 12px;color: #000;margin: 10px 0;}
.three-box a {color: #cc0000;display: block;font-size: 12px;margin-top: 20px;text-decoration: none;}
.register p {margin-top: 24px;}
.register h2 {font-size: 22px; color:#000000;}
.header_bg_image_style {margin-top:20px;}
.register label {width: 100%;}
input.text, select.text, textarea, form .radio input.text, form .checkbox input.text, .vform .radio input.text, .vform .checkbox input.text {
background: transparent url("../img/forms-text-input.gif") repeat-x scroll right top;border-color: #727272 #b4b4b4 #dad.border-style: solid;border-width: 1px;color: #595852;font-size: 12px;font-weight: normal;margin-bottom: 3px;padding: 2px 6px;height: auto;text-indent:0;
}
.smallLabel {font-size:10px;}
.noBold {font-weight: normal;}
.autoWidth {width: auto !important;}
.genderRegister {margin-right: 50px;}
.primary.btn_style {background: transparent ;float: left !important;height: auto;padding: 0;text-align: left;}
.marginBottom15 {margin-bottom: 15px !important;}
#simplemodal-data button, button {background: transparent url("../img/forms-button.gif") no-repeat scroll right -280px;
border: 0 none;color: #fff;font-family: arial;font-size: 14px;font-weight: 700;margin-right: 5px;padding: 0 10px 0 0;
position: relative;text-align: center;}
button, .inputButton {cursor: pointer;overflow: visible;padding: 0.2em 0.4em;width: auto;}
.descriptionBox{background-color:#efefef;}
.width-auto {width: auto !important;}
.date {display: inline-block;}
#datetimepicker1 span {color: gray;position: absolute;right: 4px;top: 4px;}
.remove {background-color: #cc0000; color: #fff; padding: 5px;}
.add { color: #ffffff; padding:5px 10px; font-size: 13px; }
.huge {font-size:20px;font-weight: 300;margin-top: 10px; margin-bottom:20px;text-transform: uppercase;}
.directionToTake p{color: #cc0000;}
@media only screen and (max-width : 767px)
{
	.sign-in-now {margin-left: 0px;}
	.register .form-group {margin-top:0px;}
}
.chat{list-style: none;margin: 0;padding: 0;}
.chat li{margin-bottom: 10px;padding-bottom: 5px;border-bottom: 1px dotted #B3A9A9;}
.chat li.left .chat-body{margin-left: 60px;}
.chat li.right .chat-body{margin-right: 60px;}
.chat li .chat-body p{margin: 0;color: #777777;}
.panel .slidedown .glyphicon, .chat .glyphicon{ margin-right: 5px;}

::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5;}
::-webkit-scrollbar{width: 12px;background-color: #F5F5F5;}
::-webkit-scrollbar-thumb{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #555;}
.panel-heading, .panel {border-radius: 0;}
.panel-blue {background-color: #3f51b5 !important; color:#ffffff;}
.panel-footer {background-color: rgba(255, 255, 255, 0.2);border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top: 1px solid rgba(255, 255, 255, 0.2);color: #ffffff;
padding: 10px 15px;}
.panel-green {background-color: #00707c !important;color: white;}
.welcome-nos {font-size: 40px;font-weight: 300;margin-top: 10px;}
.welcome-page-icon {font-size:77px !important;}
.panel-red {background-color:#d4101b;color:#ffffff;}
.panel-gray {background-color:#53534f;color:#ffffff;}
.welcome-bar  {margin:20px 0;}